<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.mybatis.mapper.UserMapper">

	<select id="queryUserById" parameterType="Long" resultType="User">
		SELECT * from tb_user where id = #{id}
	</select>

	<select id="queryUserByUserNameAndPassword" resultType="User">
		SELECT *
		from tb_user where user_name = #{0} and password = #{1}
	</select>

	<insert id="saveUser" keyProperty="id" keyColumn="id"	useGeneratedKeys="true">
		INSERT INTO `tb_user` ( `user_name`, `password`,
		`name`, `age`, `sex`,
		`birthday`, `created`, `updated` ) VALUES (
		#{userName}, #{password},
		#{name}, #{age}, #{sex}, NOW(), NOW(), NOW()
		)
	</insert>

	<update id="updateUser"> UPDATE `tb_user` SET `user_name` = #{userName},
		`password` = #{password}, `name` = #{name}, `age` = #{age}, `sex` =
		#{sex}, `birthday` = NOW(), `created` = NOW(), `updated` = NOW() WHERE
		(`id` = #{id})
	</update>


	<delete id="deleteUserById"> DELETE FROM tb_user WHERE id=#{id} </delete>


</mapper>
